.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}
.co-authors {
	list-style-type: none;
}
.co-author-li {
	display: inline;
}
.homepage-content {
	padding-top: 50px;
	padding-left: 1rem;
	padding-right: 1rem;
}
.h5,
.nav-item,
.nav-brand {
	font-family: 'Roboto Slab';	
	color: #000000;
}
h4 {
	font-family: 'Roboto Slab';
}
h5 {
	font-family: 'Roboto Slab';
}
body {
	font-family: 'Roboto';
}
