{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<div class="homepage-content">
	{{ if eq .Section "research" }}
		<h4>Research</h4>
		{{ range (where .Pages "Section" "research").GroupByParam "Status" }}
		<br /><h5>{{ if eq .Key "WIP" }}Work in Progress{{ else }}{{ .Key }}{{ end }}</h5>
		{{ range .Pages.ByDate }}
		<div>
			<!-- <a href="{{ .Permalink }}">{{ .Title }}</a> -->
			{{ .Title }}
			{{ if eq .Params.Status "Published" }}({{ .Params.Year }}), <i>{{ .Params.Journal }}</i>{{ end }}
			<div>
			{{ if .Params.Coauthors }}
			<strong>Co-author{{ if gt (len .Params.Coauthors) 1}}s{{ end }}: </strong>
			{{ range $index,$coauthor := .Params.Coauthors }}
				<!-- <a href="{{ "/co-authors/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> -->
				{{ if gt $index 0 }}&#8226; {{ end }}{{ . }}
			{{ end }}
			{{ end }}
			</div>
			<div><i>{{ .Params.Statusdetails }}</i></div>

			{{ if eq .Params.Status "Published" }}<a href="{{ .Params.Link }}" target="_blank">Journal Link</a>{{ end }}
			<div class="mb-3">{{ .Description }}</div>

		</div>
		{{ end }}
		{{ end }}

	{{ end }}
</div>
{{ partial "footer.html" . }}
