{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<div class="homepage-content">
    {{ if eq .Params.Statuscode 0 }} <h4><i>Job Market Paper:</i></h4>{{ end }}
    <h4>{{ .Title }}</h4>
    <div class="pl-3">
        <div>
            {{ if .Params.Coauthors }}
			<!-- <em>Co-author{{ if gt (len .Params.Coauthors) 1}}s{{ end }}: </em> -->
<em>with: </em>
			{{ range $index,$coauthorcode := .Params.coauthorcodes }}
				{{ if gt $index 0 }}&#8226; {{ end }}
				{{ if (index $.Site.Data.coauthors $coauthorcode).website }}<a href="{{ (index $.Site.Data.coauthors $coauthorcode).website }}" target="_blank">{{ (index $.Site.Data.coauthors $coauthorcode).name }}</a>
				{{ else }}{{ (index $.Site.Data.coauthors $coauthorcode).name }}
				{{ end }}
			{{ end }}
			{{ end }}
        </div>
    </div>
    <br /><div><em>{{ .Params.Statusdetails }}</em></div>

    <div class="mb-3 small">{{ .Content }}</div>
    <br />
    {{- if eq .Params.Status "Published" -}}
        {{- if .Params.WPLink -}}
            <a href="{{ .Params.WPLink }}" target="_blank">Working Paper Link</a> <br />
        {{ else }}
            <a href="{{ .Params.Link }}" target="_blank">Journal Link</a>
        {{ end }}
    {{ end }}
    {{- if .Params.Link -}}
        {{ if eq .Params.Status "WP" }}
            <a href="{{ .Params.Link }}" target="_blank">Working Paper Link</a> <i>{{ .Params.Linkdetails }}</i>
        {{ else if eq .Params.Status "JMP" }}
            <a href="{{ .Params.Link }}" target="_blank">Job Market Paper Link</a> <i>{{ .Params.Linkdetails }}</i>
        {{ end }}
    {{ end }}
</div>



{{ partial "footer.html" . }}
