{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<div class="homepage-content">
    {{ if eq .Params.Statuscode 0 }} <h4><i>Job Market Paper:</i></h4>{{ end }}
    <h4>{{ .Title }}</h4>
    <div class="pl-3">
        <div>
            {{ if .Params.Coauthors }}
			<!-- <em>Co-author{{ if gt (len .Params.Coauthors) 1}}s{{ end }}: </em> -->
<em>with: </em>
			{{ range $index,$coauthorcode := .Params.coauthorcodes }}
				{{ if gt $index 0 }}&#8226; {{ end }}
				{{ if (index $.Site.Data.coauthors $coauthorcode).website }}<a href="{{ (index $.Site.Data.coauthors $coauthorcode).website }}" target="_blank">{{ (index $.Site.Data.coauthors $coauthorcode).name }}</a>
				{{ else }}{{ (index $.Site.Data.coauthors $coauthorcode).name }}
				{{ end }}
			{{ end }}
			{{ end }}
        </div>
    </div>
    <br /><div><em>{{ .Params.Statusdetails }}</em></div>

    {{ if .Params.Blogname }}
				<b><i>Blog and press coverage:</i></b>
				{{ range $index, $blogname := .Params.Blogname }}
					{{ if gt $index 0 }}&#8226; {{ end }}
					<a href="{{ index .Params.Bloglink $index }}" target="_blank">{{ $blogname }}</a> <br />
				{{ end }}
			{{ end }}

    <div class="mb-3"><p class="text-justify">{{ .Content }}</p></div>
    {{- if eq .Params.Status "Published" -}}
        {{- if .Params.WPLink -}}
            <a href="{{ .Params.WPLink }}" target="_blank">Working Paper Link</a> <br />
        {{ else }}
            <a href="{{ .Params.Link }}" target="_blank">Journal Link</a>
        {{ end }}
    {{ end }}
    {{- if .Params.Link -}}
        {{ if eq .Params.Status "WP" }}
            <a href="{{ .Params.Link }}" target="_blank">Working Paper Link</a> <i>{{ .Params.Linkdetails }}</i>
        {{ else if eq .Params.Status "JMP" }}
            <b><a href="{{ .Params.Link }}" target="_blank">Click here to download the latest version of my job market paper</a><b></b>
        {{ end }}
    {{ end }}
    <br />
    <br />
    <div>
        <object
          data='{{ .Params.Link }}'
          type="application/pdf"
          width="100%"
          height="800"
        >
    
          <iframe
            src='{{ .Params.Link }}'
            width="100%"
            height="800"
          >
          <p>It appears this browser does not support displaying an embedded PDF, but you can click the link above to download the paper.</p>
          </iframe>
    
        </object>
      </div>
</div>

{{ partial "footer.html" . }}
