
{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<div class="homepage-content">
	<div class="row justify-content-center">
		<div class="col-8 col-sm-3 mb-4">
			<img src="{{ .Site.Params.profile_photo }}" class="img-fluid left">
			<br />
		</div>
		<div class="col-12 col-sm-9">
			{{ .Content }}
		</div>
	</div>

</div>
<div class="homepage-content">

		<h4>Research</h4>
		{{ range where .Pages "Section" "research" }}
		{{ range .Pages.GroupByParam "Statuscode" }}
		<br /><h5>{{ if eq .Key 0 }} Job Market Paper{{ else if eq .Key 2}}Working Papers{{ else if eq .Key 3 }}Work in Progress{{ else if eq .Key 1 }}Peer-Reviewed Publications{{ else }}Policy Publications{{ end }}</h5>
		{{ range .Pages.ByDate.Reverse }}
		<div>
			<!-- <a href="{{ .Permalink }}">{{ .Title }}</a> -->
			{{ if eq .Params.Postlink 1 }}
				<a href="{{.Permalink}}"><strong>{{ .Title }}</strong></a>
			{{ else if eq .Params.Status "Policy" }}
			<a href="{{ .Params.Link }}"><strong>{{ .Title }}</strong></a>
			{{ else }}
				<strong>{{ .Title }}</strong>
			{{ end }}
			{{ if eq .Params.Status "Published" }}({{ .Params.Year }}), <em>{{ .Params.Journal }}</em>{{ end }}
			<div class="pl-3">
			<div>
			{{ if .Params.Coauthors }}
			<!-- <em>Co-author{{ if gt (len .Params.Coauthors) 1}}s{{ end }}: </em> -->
<em>with: </em>
			{{ range $index,$coauthorcode := .Params.coauthorcodes }}
				{{ if gt $index 0 }}&#8226; {{ end }}
				{{ if (index $.Site.Data.coauthors $coauthorcode).website }}<a href="{{ (index $.Site.Data.coauthors $coauthorcode).website }}" target="_blank">{{ (index $.Site.Data.coauthors $coauthorcode).name }}</a>
				{{ else }}{{ (index $.Site.Data.coauthors $coauthorcode).name }}
				{{ end }}
			{{ end }}
			{{ end }}
			{{ if .Params.PolicyCoauthors }}
			<em>with: </em>
			{{ .Params.PolicyCoauthors }}
			{{ end }}
			</div>
			{{- if .Params.Statusdetails -}}<div><em>({{ .Params.Statusdetails }})</em></div>{{ end }}
			{{- if eq .Params.Status "Published" -}}
				{{- if .Params.JournalLink -}}
				<a href="{{ .Params.JournalLink }}" target="_blank">Journal Link</a> <i>{{ .Params.Linkdetails }}</i> 
					{{- if .Params.WPLink -}}
					&#8226; 
					{{ else }}
					<br />
					{{ end }}
				{{ end }}
				{{- if .Params.WPLink -}}
					<a href="{{ .Params.WPLink }}" target="_blank">Working Paper Link</a> <i>{{ .Params.WPLinkdetails }}</i><br />
				{{ end }}
			{{ end }}
			{{- if .Params.Link -}}
				{{ if eq .Params.Status "WP" }}
					<a href="{{ .Params.Link }}" target="_blank">Working Paper Link</a> <i>{{ .Params.Linkdetails }}</i><br />
				{{ else if eq .Params.Status "JMP" }}
					<a href="{{ .Params.Link }}" target="_blank">Job Market Paper Link</a> <i>{{ .Params.Linkdetails }}</i>
				{{ end }}
			{{ end }}
			{{- if .Content -}}
				<div class="mb-3 small">{{- .Content -}}</div>
			{{ else }}
				<br />
			{{ end }}
			{{ if eq .Params.Statuscode 0 }}<b><i>Blog and podcast coverage:</i></b> 
				<a href="https://blogs.worldbank.org/impactevaluations/cracking-open-new-markets-contract-helps-farmers-senegal-meet-export-quality" target="_blank">World Bank Development Impact Blog</a>
				&#8226; 
				<a href="https://novafrica.org/novafrica-development-economics-job-market-talks/" target="_blank">NOVAFRICA Development Economics Job Market Talks Podcast</a>
			{{ end }}

			</div>
		</div>
		{{ end }}
		{{ end }}
		{{ end }}

		<h4>Press Appearances</h4>
		<div>
			"The Poop Cartel," <i>Planet Money</i> <a href="https://www.npr.org/sections/money/2018/07/25/632444815/episode-855-the-poop-cartel">(Episode 855, July 25, 2018)</a>; <i>Goats and Soda / All Things Considered</i> <a href="https://www.npr.org/sections/goatsandsoda/2018/07/27/633171643/uber-for-poop-aims-to-break-up-senegals-septic-cartel">(July 27, 2018)</a>
		</div>
		<br />
		<br />
</div>
{{ partial "footer.html" . }}
