
{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<div class="homepage-content">
	<div class="row justify-content-center">
		<div class="col-8 col-sm-3 mb-3">
			<img src="{{ .Site.Params.profile_photo }}" class="img-fluid left">
			<br />
		</div>
		<div class="col-12 col-sm-9">
			{{ .Content }}
		</div>
	</div>

</div>
<div class="homepage-content">

		<h4>Research</h4>
		{{ range (where .Pages "Section" "research").GroupByParam "Status" }}
		<br /><h5>{{ if eq .Key "WIP" }}Work in Progress{{ else }}{{ .Key }}{{ end }}</h5>
		{{ range .Pages.ByDate }}
		<div>
			<!-- <a href="{{ .Permalink }}">{{ .Title }}</a> -->
			{{ .Title }}
			{{ if eq .Params.Status "Published" }}({{ .Params.Year }}), <i>{{ .Params.Journal }}</i>{{ end }}
			<div>
			{{ if .Params.Coauthors }}
			<strong>Co-author{{ if gt (len .Params.Coauthors) 1}}s{{ end }}: </strong>
			{{ range $index,$coauthor := .Params.Coauthors }}
				<!-- <a href="{{ "/co-authors/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> -->
				{{ if gt $index 0 }}&#8226; {{ end }}{{ . -}}
			{{ end }}
			{{ end }}
			</div>
			<div><i>{{ .Params.Statusdetails }}</i></div>
			{{ if eq .Params.Status "Published" }}<a href="{{ .Params.Link }}" target="_blank">Journal Link</a>{{ end }}
			<div class="mb-3">{{ .Description }}</div>

		</div>
		{{ end }}
		{{ end }}

		<h4>Press</h4>
		<div>
			"The Poop Cartel," <i>Planet Money</i> (Episode 855, July 25, 2018); <i>All Things Considered</i> (July 27, 2018)
		</div>
		<br />
		<br />
</div>
{{ partial "footer.html" . }}
